html, body {
    height: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.header
{
    overflow: hidden; 
    position: fixed;
    top: 0;
    left: 0;
    bottom:7px;
    width: 100%;
    height: 45px;
    background: #1e1f26;
    z-index: 500;
   
}

a:link, a:visited, a:active {
    text-decoration: none;
    color:white;
    padding: 20px;
    text-align: center;
    margin-top:2px;
    margin-left:-8px;
    border: -25px;
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
}
a:hover {
    text-decoration: none;
    background: #ffcc5c;
    opacity: 0.8;
    color: black;
    padding: 20px;
    text-align: center;
    margin-left:-8px;
    margin-top: 2px;
    border: -25px;
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
}

#profile
{
    top: 70px;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 600px;
    background:#9d9c9a;
    background-image: url("Bg.jpg"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100% 600px;
}


#portfolio
{
    width:100%;
    height:550px;
    left:0;
    right: 0;
    top: 550px; 
    background:  #ffcc5c ;
   
}

h1 {
    color: white;
    font-size: 60px;
}
#text
{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    color: black;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding-top: 25px;
}

#imagesDiv{
    padding-top: 50px;

}

.image {
    width: 340px;
    height: 350px;
    border: 20px;
    margin: 10px;
}
.image:hover {
    width: 340px;
    height: 350px;
    border: 20px;
    margin: 10px;
    opacity: 0.8;
    filter:drop-shadow(8px 8px 10px gray);

}

#resume
{
    width:100%;
    height:800px;
    left:0;
    right: 0;
    top: 400px; 
    margin:0;
    background-color: white;
}

#sidebar {
    height: 35%;
    width: 18%;
    padding-top:20px;
    float: right;
    background-color: #aaaaaa;
    margin-right: 60px;
    margin-left: 0;
    margin-top: 50px;
}

#imgd {
    width: 80%;
    height: 250px;
    filter:grayscale(0.5);
}

#rightbar {
    margin-top: 60px;
    height: 30%;
    width: 75%;
    padding-top:20px;
    float: left;

}

h2{
    color:black;

}
h3 {
    margin: 10px;
    padding-left: 20px;
}

#obj{
    margin: 10px;
    padding-left: 100px;
    
}
table {
    width: 100%;
    height: 50%;
    padding: 0;
}
#RT {
    width: 70%;
    height: 50%;
    padding: 80px;
    padding-left: 200px;
}
table , th, td {
    border: 0;
   
}